<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="baseAddress" value="https://192.168.100.1" />
		<add key="userName" value="admin" />
		<add key="password" value="" />
		<add key="startupProceduresCsv" value="startupProcedures.csv" />
		<add key="downstreamCsv" value="downstream.csv" />
		<add key="upstreamCsv" value="upstream.csv" />
	</appSettings>
</configuration>